<a href="https://colab.research.google.com/github/sarasantosdev/machine_learning_guia_de_referencia_rapida_estudos/blob/main/machine_learning_guia_referencia_rapida.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Machine Learning - Guia de Referência Rápida:
## Trabalhando com dados estruturados em Python, de Matt Harrison

## Tarefa:

**Criar um modelo preditivo que classifique se um passageiro sobreviveu ou não à catástrofe do Titanic, com base em características individuais e de viagem**

In [2]:
import pandas as pd

In [56]:
# importando dataset do titanic

df = pd.read_csv('titanic.csv')

In [34]:
# lendo as cinco primeiras linhas do dataframe

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# coletando informações sobre: tipo de dados e quantidade de valores nulos por coluna

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [17]:
# obtendo descrições estatísticas sobre os dados

df.describe()

# df.describe().iloc[:, 1:3], use para exibir somente colunas específicas (survived e pclass)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [41]:
# verifica a quantidade de valores nulos

df.isnull().sum()

# apesar da função isnull retornar True ou False, o Python os interpreta como 1 e 0, por isso podemos somá-los

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [57]:
# removendo coluna 'Cabine' por não ser relevante para a classificação

df = df.drop('Cabin', axis=1) # axis 1 representa as colunas

In [48]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [39]:
# verificando a quantidade de pessoas por gênero (value_counts)

df.Sex.value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [43]:
# verificando a quantidade de pessoas por embarque (value_counts)

df.Embarked.value_counts(dropna=False)

Embarked
S      644
C      168
Q       77
NaN      2
Name: count, dtype: int64

In [58]:
# removendo colunas de dados categóricos não relevantes

df = df.drop(columns=['Name', 'Ticket', 'Fare'])

In [59]:
# criando colunas dummy

df = pd.get_dummies(df, drop_first=True)

df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch',
       'Sex_male', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [60]:
df = df.drop('PassengerId', axis=1)
df.columns

Index(['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Sex_male', 'Embarked_Q',
       'Embarked_S'],
      dtype='object')

In [61]:
# separando variável alvo e característcas

y = df.Survived # y recebe a variável alvo
X = df.drop(columns='Survived') # dataframe sem variável alvo